[Unit]
Description=Loads btusb kernel module
After=network-online.target
[Service]
Type=simple
ExecStart=modprobe btusb

[Install]
WantedBy=multi-user.target
