[Unit]
Description=Reloads btusb kernel module
After=network-online.target
[Service]
Type=simple
ExecStart=/usr/bin/reload-btusb.sh

[Install]
WantedBy=multi-user.target
